<mat-toolbar color="primary" style="justify-content: center;"><h2>NGRX - Todo App</h2></mat-toolbar>

<div class="container">
<div class="row">
  <div class="col-md-5">
    <section >
      <header>
        <h2 style="color:coral;"> ToDo </h2>
        <mat-form-field appearance="standard">
        <input matInput
          placeholder="What needs to be done?"
          [(ngModel)]="newTodo.title"
          (keyup.enter)="addTodo()"/>
         
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="addTodo()" color="primary"> Add Task</button>
        </div>
      </header>
    </section>
  </div>

  <div class="col-md-5">
    <section class="container">
      <header>
        <br>
        <h2 style="color: cornflowerblue;" *ngIf="allTodos()>0">Total {{allTodos()}}
          {{allTodos()==1?'item':'items'}} in list
       </h2>
      </header>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section *ngIf="incompleteTodos.length > 0">
      <h2 style="color: cornflowerblue;">On Stack</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let todo of incompleteTodos">
          <ng-container>
            <mat-checkbox color="primary" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></mat-checkbox>
            <label style="padding-left:20px;">{{todo.title}}</label>
            <button mat-button color="warn" (click)="removeTodo(todo)" >Remove</button>
          </ng-container>
        </li>
      </ul>
    </section>
  </div>
  <div class="col-md-6">
    <section *ngIf="completeTodos.length > 0">
      <h2 style="color:rgb(35, 161, 35);">Done</h2>
      <ul class="list-group list-group-flush">
        <li *ngFor="let todo of completeTodos" class="list-group-item">
          <ng-container>
            <mat-checkbox color="primary" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></mat-checkbox>
            <label style="padding-left: 20px;">{{todo.title}}</label>
            <button mat-button color="warn" (click)="removeTodo(todo)" >Remove</button>
          </ng-container>
        </li>
      </ul>
    </section>
  </div>
</div>
</div>
